datasets
efficientnet_pytorch
huggingface-hub
ipython
matplotlib
numpy
opencv-python
pandas
safetensors
scikit-learn
seaborn
tensorboard
tensorflow
tf_keras
timm
torch
torchsummary
torchvision
tqdm
transformers
urllib3
wandb
